<%- include('partials/header'); -%>

  <h1 style="text-align: center;">Dashboard</h1>
  <a href="/createJob" style="color: cadetblue; margin: 0 auto; display:block; text-align: center">Create a new job</a>


  <div id="jobResults" class="jobs">
    <%if(user){ %>
      <ul class="jobCard_container">
        <% jobs.forEach(note=> { %>
          <li>
            <div class="jobCard">
              <h5>
                <%= note.status %>
              </h5>
              <h2>
                <%= note.jobTitle %>
              </h2>
              <h3>
                <%= note.company %>
              </h3>
              <a href="/views/jobCard.ejs">more</a>
          </li>
      </ul>

      <%}) %>
  </div>

  <% } else{ %>
    <h3>Here you will see your jobs...</h3>


    <% } %>
      </div>

      <%- include('partials/footer'); -%>