<%- include('partials/header'); -%>

  <h1 style="text-align: center;">Dashboard</h1>
  <a href="/dashboard/createJob" style="color: cadetblue; margin: 0 auto; display:block; text-align: center">Create a
    new
    job</a>


  <div id="jobResults" class="jobs">
    <%if(user){ %>
      <ul class="jobCard_container">
        <% jobs.forEach(job=> { %>
          <li>
            <div class="jobCard">
              <div class="jobStatus <%= job.status %>">
                <%= job.status %>
              </div>
              <h2>
                <%= job.jobTitle %>
              </h2>
              <h3>
                <%= job.company %>
              </h3>
              <a href="<%= `/dashboard/jobCard/${job._id}` %>">Details</a>
          </li>
          <%}) %>
      </ul>
  </div>

  <% } else{ %>
    <h3>Here you will see your jobs...</h3>


    <% } %>
      </div>
      <%- include('partials/footer'); -%>